{% raw %}
{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block body %}
<strong>Users</strong>
<ul>
	{% for user in users %}
    	<li>
            <a href="/user/{{ user.name }}">{{ user.name }}</a>
        </li>
	{% else %}
    	<li><em>Entity not found.</em></li>
	{% endfor %}
</ul>

<form action="/user/add" method='POST'>

    {% for field in userform %}
        <dl>{{field.label}} {{field}}</dl>
    {% endfor %}

    <button type="submit">Save</button>
</form>


{% endblock %}
{% endraw %}